<app-navbar></app-navbar>
<div class="col-md-8 my-2">
    <div class="container">
        <table class="table text-center table-hover">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Serie</th>
            </thead>
            <tbody *ngFor="let product of this.listProduct">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.model}}</td>
                <td>{{product.color}}</td>
                <td>{{product.price}}</td>
                <td>{{product.category}}</td>
                <td>{{product.serial}}</td>
            </tbody>
        </table>
    </div>
</div>
